---
import Layout from '../layouts/Layout.astro';
import OSDownloadCard from '../components/OSDownloadCard.astro';
import bgBoatSunset from '../assets/background-boat-sunset.jpg';

interface Release {
  rel: string;
  url: string;
}

interface Releases {
  windows_release?: Release[];
  linux_release?: Release[];
}

let releases: Releases = {};
try {
  const response = await fetch('https://api.rigsofrods.org/releases');
  if (response.ok) {
    releases = await response.json();
  }
} catch {
  // API unavailable at build time — will show fallback
}
---

<Layout title="Download Center | Rigs of Rods">
  <div class="container download">
    <div
      class="section-header"
      style={`background-image: url(${bgBoatSunset.src})`}
    >
      <div class="section-header-title">Download Center</div>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="row g-2">
          {releases.windows_release && releases.windows_release.length > 0 && (
            <div class="col-md-4">
              <OSDownloadCard title="Windows" items={releases.windows_release} />
            </div>
          )}
          {releases.linux_release && releases.linux_release.length > 0 && (
            <div class="col-md-4">
              <OSDownloadCard title="Linux" items={releases.linux_release} />
            </div>
          )}
          {(!releases.windows_release && !releases.linux_release) && (
            <div class="col-12">
              <p>
                Download the latest release from
                <a href="https://github.com/RigsOfRods/rigs-of-rods/releases">GitHub Releases</a>.
              </p>
            </div>
          )}
        </div>

        <div class="row py-2 mt-2 g-4">
          <div class="col-md-6">
            <div class="infocard">
              See what&apos;s new in the latest release of Rigs of Rods by reading the
              <a href="https://forum.rigsofrods.org/forums/announcements.44/">release notes</a>.
            </div>
          </div>
          <div class="col-md-6">
            <div class="infocard">
              If you&apos;re new, it&apos;s recommended you read our
              <a href="https://docs.rigsofrods.org/gameplay/beginners-guide/">guide on getting started</a>.
            </div>
          </div>
          <div class="col">
            <div class="infocard">
              Rigs of Rods is evolving everyday. Try
              <a href="https://forum.rigsofrods.org/threads/ror-development-builds-for-windows-and-linux.696/">development builds</a>.
            </div>
          </div>
        </div>

        <div class="row py-4 g-4 mt-2">
          <div class="col-md-4">
            <h5 class="card-title">System requirements</h5>
            <ul class="list-unstyled">
              <li><strong>OS:</strong> Windows 7 64-bit or Greater</li>
              <li><strong>Processor:</strong> Intel Core 2 Duo or AMD Athlon 64 X2</li>
              <li><strong>Memory</strong>: 4 GB RAM</li>
              <li><strong>Graphics</strong>: GeForce 8600GT or AMD Radeon 3650</li>
              <li><strong>Storage</strong>: 5 GB available space</li>
            </ul>
          </div>
          <div class="col-md-4">
            <h5 class="card-title">Previous releases</h5>
            <p class="card-text">
              If you would like to try out older versions of Rigs of Rods, they are
              <a href="https://sourceforge.net/projects/rigsofrods/files/rigsofrods/museum/">available for download</a>.
              However, versions older than the current release are not supported.
            </p>
          </div>
          <div class="col-md-4">
            <h5 class="card-title">Compile from source</h5>
            <p class="card-text">
              The Rigs of Rods code repository can be found on GitHub. From there, it is recommended to
              <a href="https://github.com/RigsOfRods/rigs-of-rods/wiki/Compile-(Windows)">read our guide</a>
              on compiling Rigs of Rods from source.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>

<style lang="scss">
  @use '../styles/vars' as *;

  .infocard {
    background-color: rgba($primary, 0.1);
    padding: 1em;
    font-size: 1.4rem;
    text-align: center;
    border-radius: 0.25rem;
    color: #fff;
  }

  .download {
    margin-bottom: 50px;

    .card {
      background-color: #262626;
    }
  }
</style>
