$primary: #226699;
$secondary: #882500;
$dark-secondary: #122a3d;

// Brand colors, we define them here and integrate into theme colors.
$itchio: #fa5c5c; // https://itch.io/press-kit
$discord: #7289da; // https://discord.com/branding
$twitter: #1da1f2; //https://about.twitter.com/en_us/company/brand-resources.html

$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #aeaeae;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$dark-100: #1d1d1d;
$dark-200: #1e1e1e;
$dark-300: #222222;
$dark-400: #252525;
$dark-500: #272727;
$dark-600: #2c2c2c;
$dark-700: #2d2d2d;
$dark-800: #333333;
$dark-900: #353535;

$font-family-base: "Maven Pro", sans-serif;
